<header class="site-header mb-4">
    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="">Flaskblog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targer="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-icon-toggler"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
                <div class="navbar-nav">
                    <a class="nav-link nav-item" href="#">Home</a>
                    <a class="nav-link nav-item" href="#">About</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link nav-item" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-link nav-item" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>
